<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="home" data-target="home"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="input-group mr-auto" action="/counter" method="post">
            <input type="text" name="url" class="form-control" placeholder="Ссылка на сайт..." aria-label="url"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="input-group-text" id="basic-addon2" type="submit">Count</button>
            </div>
        </form>
    </nav>
</header>
<div class="container mt-5">
    <br>
    <h1>Слова и их количество на</h1>
    <h1 th:text="${url}"></h1>
    <div th:each="el : ${words}" class="alert alert-info mt-2">
        <h3 th:text="${el.word} + ' - ' +${el.count}"/>
    </div>
</div>
</body>
</html>