<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="home" data-target="home"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="input-group mr-auto" action="/counter" method="post">
            <input type="text" name="url" class="form-control" placeholder="Ссылка на сайт..."
                   aria-label="Имя получателя"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="input-group-text" id="basic-addon2" type="submit">Count</button>
            </div>
        </form>
    </nav>
</header>
<div class="container mt-5">
    <br>
    <br>

    <h1>Не удалось подключиться к этой ссылке</h1>
    <h1>попробуйте другую</h1>
</div>
</body>
</html>